body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div {
    border-radius: 4px;
    border: 1px solid lightgray;
    padding: 3px 5px;
    height: 25px;
    width: calc(100% - 22px);
    margin: 10px;
}

.message-info{
    background-color: #8EBCE1;
    color: #616684;
}

.message-success{
    background-color: #D0DAA2;
    color: #127852;
}

.message-warning{
    background-color: #FEAB72;
    color: #FA5E45;
}

.message-error {
    background-color: #CF6456;
    color: #963543;
}

/*BONUS*/
:root {
    --main-bg-color: #B5A89B;
}

.checking-css-variables {
    margin: 0 auto;
    border-radius: 5px 25px;
    background-color: var(--main-bg-color);
    width: calc(75% - 30px);
    height: 25px;
    text-align: center;
}

#adjust {
    background-color: var(--main-bg-color);
    border: 0;
    color: #6F5C5D;
    font-weight: bold;
    padding: 0 50px;
    text-align: center;
}
