.fancy-header {
    color: orange; /* single line comment */
    text-decoration: underline teal;
}

h2.smaller-header {
    color: teal;
    font-family: Chalkboard;
    text-decoration: underline dotted orange;
}